Connected Services/ServiceReference1/TileGenerator.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="CreateTiles">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="url" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="destination" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CreateTilesResponse">
        <s:complexType />
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="CreateTilesSoapIn">
    <wsdl:part name="parameters" element="tns:CreateTiles" />
  </wsdl:message>
  <wsdl:message name="CreateTilesSoapOut">
    <wsdl:part name="parameters" element="tns:CreateTilesResponse" />
  </wsdl:message>
  <wsdl:portType name="TileGeneratorSoap">
    <wsdl:operation name="CreateTiles">
      <wsdl:input message="tns:CreateTilesSoapIn" />
      <wsdl:output message="tns:CreateTilesSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="TileGeneratorSoap" type="tns:TileGeneratorSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="CreateTiles">
      <soap:operation soapAction="http://tempuri.org/CreateTiles" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="TileGeneratorSoap12" type="tns:TileGeneratorSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="CreateTiles">
      <soap12:operation soapAction="http://tempuri.org/CreateTiles" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="TileGenerator">
    <wsdl:port name="TileGeneratorSoap" binding="tns:TileGeneratorSoap">
      <soap:address location="http://localhost:52385/Services/TileGenerator.asmx" />
    </wsdl:port>
    <wsdl:port name="TileGeneratorSoap12" binding="tns:TileGeneratorSoap12">
      <soap12:address location="http://localhost:52385/Services/TileGenerator.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>